.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.well-white {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-white:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.transit {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
img {
  max-width: 100%;
  height: auto;
}
iframe {
  max-width: 100%;
}
a {
  color: #cc0001;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover {
  color: #222;
}
ul.tabs--primary {
  background: none;
  padding: 0;
  width: 100%;
  border: none;
  text-align: center;
}
ul.tabs--primary li {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: none;
}
ul.tabs--primary li.active a {
  background: #cc0001;
  position: relative;
  border: none;
  color: #fff;
  padding: 5px 10px;
}
ul.tabs--primary li.active a:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #cc0001;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
ul.tabs--primary li a {
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  color: #333;
  padding: 5px 10px;
}
ul.tabs--primary li a.active {
  background: #cc0001;
  color: #fff;
  position: relative;
}
ul.tabs--primary li a.active:hover {
  background: #cc0001;
}
ul.tabs--primary li a.active:after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #cc0001;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
ul.tabs--primary li a:hover {
  background: #333;
  color: #fff;
}
.node-node-block .group-left {
  text-align: center;
}
.node-node-block .field-name-field-nodeblock-pic {
  width: 100%;
  display: inline-block;
  text-align: center;
}
.node-node-block .field-name-body .field-item div {
  margin: 0 0 10px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
}
h1.page-header {
  text-align: center;
  margin: 40px 0;
}
.front h1.page-header,
.front .tabs--primary {
  display: none;
}
.front #block-views-uitzendingen-block-1 {
  margin: 0;
  padding: 420px 0 0;
}
.front .block-nodeblock ul.submenu {
  margin-top: 40px;
}
.front .block-nodeblock ul.submenu li {
  display: inline-block;
  margin: 0 15px 0 0;
}
.front .block-nodeblock ul.submenu li a {
  padding: 15px;
  border: 1px solid #aaa;
  font-size: 12px;
  color: #aaa;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
  text-transform: uppercase;
}
.front .block-nodeblock ul.submenu li a:hover {
  color: #cc0001;
  border: 1px solid #cc0001;
  text-decoration: none;
}
.not-front .main-container {
  padding-top: 80px;
}
.navbar-inverse {
  margin-bottom: 0;
}
.navbar-nav {
  float: none;
  margin: 0;
  text-align: center;
  padding: 7px 0;
  border-radius: 0;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.navbar-nav > li:first-child > a {
  text-indent: -999999px;
  width: 36px;
  height: 50px;
  background: url(../images/headerlogo.png) no-repeat center 5px;
  background-size: 34px;
  border-radius: 0;
  margin: 0 5px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-nav > li:first-child > a:hover,
.navbar-nav > li:first-child > a:active {
  opacity: 1;
  background-color: transparent;
}
.navbar-nav > li:first-child > a.active {
  background-color: transparent;
  opacity: 1;
}
.navbar-nav > li:last-child {
  display: none;
}
.not-front .navbar-nav > li {
  display: none;
}
.not-front .navbar-nav > li:first-child,
.not-front .navbar-nav > li:last-child {
  display: inline-block;
}
.not-front.node-type-uitzending .navbar-nav > li.last {
  display: none;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a.active {
  color: #cc0001;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a.active:hover {
  background-color: transparent;
}
.navbar-fixed-top .klaramenubutton {
  background: url(../images/klaramenubutton.png) no-repeat center;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 40px;
  top: 17px;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-fixed-top .klaramenubutton:hover {
  opacity: 1;
}
.navbar-fixed-top #block-menu-block-1 {
  display: none;
  position: absolute;
  right: 20px;
  top: 82px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navbar-fixed-top #block-menu-block-1:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.navbar-fixed-top #block-menu-block-1:before {
  content: '';
  position: absolute;
  border: 10px solid transparent;
  border-bottom: 10px solid #e3e3e3;
  top: -20px;
  right: 23px;
}
.navbar-fixed-top #block-menu-block-1 ul.menu {
  padding-top: 15px;
}
.navbar-fixed-top #block-menu-block-1 ul.menu > li > a {
  padding: 5px 15px;
}
.highlighted {
  padding: 100px 0 50px;
  background: #fff;
  border-bottom: 2px solid #ddd;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.highlighted .ds-2col .group-left {
  width: 23%;
}
.highlighted .ds-2col .group-right {
  width: 72%;
  float: right;
}
.highlighted .ds-2col .group-right h1 {
  margin-bottom: 20px;
  margin-top: 12px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ddd;
}
.main-container {
  padding: 0;
}
.view-uitzendingen .klara-timeline-block .group-left {
  width: 35%;
  float: left;
}
.view-uitzendingen .klara-timeline-block .group-right {
  width: 60%;
  float: right;
}
.view-uitzendingen .klara-timeline-block.upcoming .group-left img {
  filter: grayscale(100%);
}
h2.block-title {
  padding: 0 0 20px;
  border-bottom: 4px solid #ddd;
  text-align: center;
  margin: 0;
}
.klara-timeline {
  padding: 200px 0;
  margin: 0;
}
.footer h2.block-title {
  border-bottom: 4px solid #444;
  margin-bottom: 20px;
}
ul.tabs--primary {
  margin-bottom: 50px;
}
body.admin-menu .navbar-fixed-top {
  top: 21px;
}
.group-header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.footer {
  background: #101010;
  color: #fff;
  padding: 80px 0;
}
.footer h2 {
  border-bottom: 2px solid #444;
}
.footer #block-block-1 {
  text-align: center;
}
.footer .footer-logo {
  float: none;
  text-align: center;
  display: inline-block;
  margin: 0;
  width: 100%;
  opacity: 0.3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.footer .footer-logo:hover {
  opacity: 1;
}
.footer .footer-logo a {
  display: inline-block;
}
.footer .footer-logo a img {
  width: 50px;
}
.footer #VRTFooter {
  margin-top: 20px;
}
.footer #VRTFooter a {
  color: rgba(255, 255, 255, 0.4);
  margin-right: 5px;
}
.footer #VRTFooter a:hover {
  color: #fff;
}
.front .footer {
  margin-top: 0;
}
.klara-timeline-block span.date-display-single {
  font-size: 14px;
}
a.klara-read-more {
  padding: 5px 10px;
  box-shadow: 0 3px 0 #ddd;
  display: none;
}
.node-type-uitzending .node-uitzending {
  position: relative;
}
.node-type-uitzending .node-uitzending .group-header {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.node-type-uitzending .node-uitzending .group-header:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview.field-group-div {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview.field-group-div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview.field-group-div .field-name-field-broadcast-pic {
  margin-bottom: 15px;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview.field-group-div .field-name-field-broadcast-pic .field-item {
  float: none !important;
  display: inline-block !important;
  max-width: 100%;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview.field-group-div .audiolabel {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 4px;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview.field-group-div .audiolabel i {
  color: #cc0001;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview-right .field-name-field-broadcast-date {
  border: 0;
  text-indent: 20px;
  float: left;
  font-size: 12px;
  margin: 0;
  padding: 3px 0;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview-right .field-name-field-broadcast-date:before {
  content: "\f073";
  font-family: fontawesome;
  display: inline-block;
  margin-left: -20px;
  position: absolute;
  color: #cc0001;
}
.node-type-uitzending .node-uitzending .group-header .group-broadcast-topview-bottom {
  clear: both;
  float: left;
  padding: 10px 0 0;
  margin: 10px 15px 0;
  border-top: 1px solid #ddd;
}
.node-type-uitzending .node-uitzending .group-left {
  width: 40%;
}
.node-type-uitzending .node-uitzending .group-right {
  width: 56%;
  float: right;
}
.node-type-uitzending .node-uitzending .field-name-service-links-displays-group {
  float: right;
  margin: 0;
}
.node-type-uitzending .node-uitzending .field-name-service-links-displays-group > * {
  display: inline-block;
  vertical-align: middle;
}
.node-type-uitzending .node-uitzending .field-name-service-links-displays-group > *.fa-share-alt {
  color: #cc0001;
  margin-right: 5px;
}
.node-type-uitzending .node-uitzending .field-name-service-links-displays-group .field-item .service-links > * {
  vertical-align: top;
  margin-left: 5px;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-region,
.node-type-uitzending .node-uitzending .field-name-body {
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px solid #ddd;
}
.node-type-uitzending .node-uitzending .field-name-body {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  display: block;
}
.node-type-uitzending .node-uitzending .field-name-body p:first-child {
  text-indent: 25px;
}
.node-type-uitzending .node-uitzending .field-name-body:before {
  content: "\f05a";
  font-family: fontawesome;
  display: inline-block;
  margin-left: 0;
  position: absolute;
  color: #cc0001;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong {
  width: 100%;
  display: inline-block;
  float: left;
  clear: both;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > h3 {
  position: relative;
  text-indent: 52px;
  font-size: 35px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > h3:before {
  content: "\f001";
  font-family: fontawesome;
  position: absolute;
  text-align: left;
  left: -46px;
  color: #cc0001;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items {
  counter-reset: my-badass-counter;
  height: 420px;
  overflow: hidden;
  padding-left: 20px;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item {
  margin: 0 0 10px;
  padding: 5px 38px 10px 65px;
  border-bottom: 1px dashed #ccc;
  position: relative;
  cursor: pointer;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item:before {
  content: counter(my-badass-counter, decimal-leading-zero);
  counter-increment: my-badass-counter;
  position: absolute;
  left: 0;
  font-size: 50px;
  letter-spacing: -3px;
  color: #ccc;
  top: -10px;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-title {
  position: relative;
  cursor: pointer;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-title h3 {
  margin-top: 0;
  font-size: 18px;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-comp,
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-uitv {
  word-break: break-all;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-comp > .field-label,
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-uitv > .field-label {
  font-size: 12px;
  text-indent: 12px;
  position: relative;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-comp > .field-label:before,
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-uitv > .field-label:before {
  content: "\f007";
  font-family: fontawesome;
  position: absolute;
  text-align: left;
  left: -12px;
  font-style: normal;
  color: #cc0001;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-comp .field-item,
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-uitv .field-item {
  padding-top: 2px;
  font-size: 12px;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-comp,
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-uitv {
  display: inline-block;
  vertical-align: top;
  width: 48%;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-audiofile,
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-pics,
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-field-song-adresgegevens,
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .field-name-body {
  display: none;
}
.node-type-uitzending .node-uitzending .field-name-field-broadcast-ctsong > .slimScrollDiv > .field-items > .field-item .songteaser-audio {
  margin-top: 10px;
  max-width: 100%;
}
.node-type-uitzending .node-uitzending #mapbox {
  width: 100%;
  height: 600px;
  display: inline-block;
  vertical-align: top;
  margin-left: 0;
  max-width: 100%;
}
.node-type-uitzending .node-uitzending #mapbox img {
  max-width: none;
}
.node-type-uitzending .node-uitzending #mapbox .gm-style-iw > div > div > h1 {
  font-size: 16px;
}
.node-type-uitzending .node-uitzending #mapbox .gm-style-iw > div > div > a {
  float: left;
  margin: 0 10px 5px 0;
}
.node-type-uitzending .node-uitzending #mapbox .gm-style-iw > div > div > a img {
  max-width: 100%;
}
.node-type-uitzending .footer {
  margin-top: 0;
}
audio {
  width: 100%;
}
#singlemap img {
  max-width: none;
}
#singlemap .gm-style-iw > div > div > h1 {
  font-size: 24px;
  color: #cc0001;
}
#singlemap .gm-style-iw img {
  max-width: 100%;
  float: left;
  margin: 0 10px 5px 0;
}
#singlemap > .gm-style.scrolloff {
  pointer-events: none;
}
.page-uitzendingen h1 {
  padding: 0 0 20px;
  border-bottom: 4px solid #ddd;
  text-align: center;
  margin: 0;
}
.page-uitzendingen .view-uitzendingen {
  margin: 0;
  padding: 80px 0;
}
.page-uitzendingen .footer {
  margin-top: 0;
}
.webform-client-form {
  margin-top: 20px;
}
.webform-client-form .webform-component--naam-en-voornaam {
  float: left;
  width: 48%;
}
.webform-client-form .webform-component--email-adres {
  float: right;
  width: 48%;
}
.webform-client-form .webform-component--bericht {
  float: left;
  width: 100%;
  margin-top: 20px;
}
.webform-client-form button {
  float: left;
  margin-top: 20px;
}
.footer .webform-client-form {
  margin-bottom: 50px;
  padding-bottom: 50px;
  border-bottom: 1px dashed #333;
}
.footer .webform-client-form:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.footer .webform-client-form input,
.footer .webform-client-form textarea {
  background: rgba(255, 255, 255, 0.1);
  border: 0;
  color: #fff;
  border-radius: 4px;
}
.footer .webform-client-form .grippie {
  display: none;
}
.content-bottom {
  background: #fff;
  padding: 80px 0;
  border-top: 2px solid #ddd;
}
.calendar-calendar div.day {
  float: none;
  display: inline-block;
  width: 100%;
  padding: 0;
}
#block-views-calendar-broadcasts-block-1 {
  float: left;
  width: 46%;
  clear: none;
}
#block-views-calendar-broadcasts-block-1 .view-header .date-nav {
  margin: 0;
  padding: 0;
  position: relative;
}
#block-views-calendar-broadcasts-block-1 .view-header .date-nav ul.pager {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  margin-top: 4px;
}
#block-views-calendar-broadcasts-block-1 .view-header .date-nav ul.pager > li.date-prev {
  left: 0;
  text-align: left;
  background: none;
  border: 0;
  border-radius: 0;
}
#block-views-calendar-broadcasts-block-1 .view-header .date-nav ul.pager > li.date-prev > a {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
}
#block-views-calendar-broadcasts-block-1 .view-header .date-nav ul.pager > li.date-next {
  right: 0;
  text-align: right;
  background: none;
  border: 0;
  border-radius: 0;
}
#block-views-calendar-broadcasts-block-1 .view-header .date-nav ul.pager > li.date-next > a {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin: 0;
}
#block-views-calendar-broadcasts-block-1 .view-footer {
  margin-top: 20px;
}
#block-views-calendar-broadcasts-block-1 table {
  margin-top: 20px;
  border-radius: 4px;
}
#block-views-calendar-broadcasts-block-1 table tr td,
#block-views-calendar-broadcasts-block-1 table tr th {
  background: #101010;
  border: #101010;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
}
#block-views-calendar-broadcasts-block-1 table tr th {
  color: #555;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box {
  position: relative;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box > td {
  position: relative;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box > td > .item > div > div.monthview {
  position: absolute;
  display: none;
  left: 50%;
  margin-left: -75px;
  bottom: 100%;
  z-index: 99;
  text-align: center;
  width: 150px;
  height: 50px;
  color: #101010;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box > td > .item > div > div.monthview.hovering {
  display: block;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box > td > .item > div > div.monthview:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
  margin: 0 0 0 -10px;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box > td > .item > div > div.monthview .cutoff {
  display: none;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box > td > .item > div > div.monthview .views-field-title {
  width: auto;
  height: auto;
  line-height: 1.5;
  margin-top: 8px;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box > td > .item > div > div.monthview .views-field-title a {
  color: #cc0001;
  font-size: 14px;
  line-height: 1.3;
}
#block-views-calendar-broadcasts-block-1 table tr.date-box > td > .item > div > div.monthview .views-field-field-broadcast-date {
  line-height: 1.5;
}
#block-views-calendar-broadcasts-block-1 table thead tr {
  border-bottom: 1px solid #555;
}
#block-views-calendar-broadcasts-block-1 table td > .inner > .day > a {
  color: #fff;
  background: #cc0001;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  position: relative;
}
#block-views-calendar-broadcasts-block-2 {
  float: right;
  width: 46%;
  clear: none;
}
#block-views-calendar-broadcasts-block-2 .view-content {
  position: relative;
  overflow: hidden;
  width: auto;
  height: 400px;
}
#block-views-calendar-broadcasts-block-2 .slimScrollBar {
  margin: 20px 0;
}
#block-views-calendar-broadcasts-block-2 .slimScrollRail {
  height: 380px !important;
  top: 20px !important;
}
#block-views-calendar-broadcasts-block-2 ul {
  margin-top: 20px;
  padding-left: 30px;
  list-style: none;
  overflow: hidden;
  width: auto;
  height: 400px;
}
#block-views-calendar-broadcasts-block-2 ul > li.views-row {
  list-style: none;
  margin: 0 0 10px;
  padding: 0 0 10px;
  border-bottom: 1px dashed #ccc;
}
#block-views-calendar-broadcasts-block-2 ul > li.views-row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#block-views-calendar-broadcasts-block-2 ul > li.views-row .views-field-field-broadcast-pic {
  float: left;
  margin: 0 20px 10px 0;
  width: 60px;
}
#block-views-calendar-broadcasts-block-2 ul > li.views-row .views-field-title a {
  font-size: 26px;
}
#block-views-calendar-broadcasts-block-2 ul > li.views-row .views-field-field-broadcast-date {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}
.popup .group-right > .field-group-div {
  float: left;
  clear: both;
  width: 100%;
}
.popup .group-right > .field-group-div > h3 {
  margin: 0 0 10px;
}
.popup .group-right > .field-group-div.group-song-componist {
  background-color: #e0e0e0;
  padding: 10px 30px;
  margin: 20px 0;
  display: block;
}
.popup .group-right > .field-group-div.group-song-uitv {
  background-color: #e0e0e0;
  padding: 10px 30px;
  margin: 20px 0;
  display: block;
}
.main-container,
.content-bottom,
.footer {
  padding: 65px 0;
}
.front .main-container {
  padding: 0;
}
.front #block-system-main {
  display: none;
}
.node-type-song #singlemap {
  width: 100%;
  height: 350px;
  max-width: 100%;
  top: 65px;
}
.node-type-song .node-song .group-header {
  margin: 0 0 40px;
  padding: 0 0 40px;
  border-bottom: 1px dashed #ccc;
}
.node-type-song .node-song .group-header .field-name-field-song-adresgegevens {
  display: none;
}
.node-type-song .node-song .group-header .field-name-field-song-pics {
  float: left;
  margin: 0 20px 10px 0;
  position: relative;
  width: 30%;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.node-type-song .node-song .group-header .field-name-field-song-pics:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node-type-song .node-song .group-header .field-name-field-song-pics.hasvideo {
  width: 50%;
  padding-bottom: 40px;
}
.node-type-song .node-song .group-header .field-name-field-song-pics.hasvideo ul.flex-direction-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.node-type-song .node-song .group-header .field-name-field-song-pics.hasvideo ul.flex-direction-nav > li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.node-type-song .node-song .group-header .field-name-field-song-pics.hasvideo ul.flex-direction-nav > li > a {
  position: absolute;
  z-index: 99;
  color: #cc0001;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 0 1px;
  border: 0;
}
.node-type-song .node-song .group-header .field-name-field-song-pics.hasvideo ul.flex-direction-nav > li > a:hover {
  color: orange;
}
.node-type-song .node-song .group-header .field-name-field-song-pics.hasvideo ul.flex-direction-nav > li > a.flex-prev {
  left: 20px;
  bottom: 15px;
}
.node-type-song .node-song .group-header .field-name-field-song-pics.hasvideo ul.flex-direction-nav > li > a.flex-next {
  right: 20px;
  bottom: 15px;
}
.node-type-song .node-song .group-header .field-name-field-song-pics ol.flex-control-paging {
  position: absolute;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  bottom: 15px;
}
.node-type-song .node-song .group-header .field-name-field-song-pics ol.flex-control-paging > li {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0 1px;
}
.node-type-song .node-song .group-header .field-name-field-song-pics ol.flex-control-paging > li > a {
  text-indent: -999999px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #303030;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-type-song .node-song .group-header .field-name-field-song-pics ol.flex-control-paging > li > a.flex-active {
  background: #cc0001;
  border: 2px solid #cc0001;
}
.node-type-song .node-song .group-left {
  width: 48%;
  float: left;
}
.node-type-song .node-song .group-left > div {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
}
.node-type-song .node-song .group-left > div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node-type-song .node-song .group-left .field-name-field-componist-img {
  float: left;
  margin: 0 20px 10px 0;
}
.node-type-song .node-song .group-left .field-label {
  font-size: 16px;
  margin: 0 0 10px;
  padding: 0 0 5px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
.node-type-song .node-song .group-left .field-label:before {
  content: "\f006";
  font-family: fontawesome;
  font-size: 16px;
  color: #cc0001;
  margin-right: 5px;
}
.node-type-song .node-song .group-left .field-name-field-componist-name {
  color: #cc0001;
  font-size: 22px;
  margin: 0 0 10px;
}
.node-type-song .node-song .group-right {
  width: 48%;
  float: right;
}
.node-type-song .node-song .group-right > div {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-bottom: 0;
}
.node-type-song .node-song .group-right > div:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node-type-song .node-song .group-right .field-name-field-uitv-image {
  float: left;
  margin: 0 20px 10px 0;
}
.node-type-song .node-song .group-right .field-label {
  font-size: 16px;
  margin: 0 0 10px;
  padding: 0 0 5px;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
}
.node-type-song .node-song .group-right .field-label:before {
  content: "\f006";
  font-family: fontawesome;
  font-size: 16px;
  color: #cc0001;
  margin-right: 5px;
}
.node-type-song .node-song .group-right .field-name-field-uitv-name {
  color: #cc0001;
  font-size: 22px;
  line-height: 1;
  margin: 0 0 10px;
}
.node-type-song .node-song .group-footer {
  float: left;
  width: 100%;
  margin: 40px 0 0;
  padding: 40px 0 0;
  border-top: 1px dashed #ccc;
}
.node-type-song .node-song .group-footer > * {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 80px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.node-type-song .node-song .group-footer > *:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.node-type-song .node-song .group-footer .field-name-field-song-audiofile {
  display: none;
}
.node-type-song .node-song .group-footer .audiobox {
  padding: 25px 10px;
}
.node-type-song .node-song .group-footer .audiobox i.fa-signal {
  font-size: 30px;
  color: #cc0001;
  vertical-align: top;
  margin-right: 5px;
}
.node-type-song .node-song .group-footer .audiobox audio {
  width: 80%;
}
.node-type-song .node-song .group-footer .field-name-field-song-external-link {
  padding: 25px 0;
}
.node-type-song .node-song .group-footer .field-name-field-song-external-link i {
  font-size: 30px;
  color: #cc0001;
  margin-right: 5px;
}
.node-type-song .node-song .group-footer .field-name-field-song-external-link a {
  font-size: 20px;
  color: #303030;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.node-type-song .node-song .group-footer .field-name-field-song-external-link a:hover {
  color: #cc0001;
  text-decoration: none;
}
.node-type-song .node-song .group-footer .field-name-field-song-external-link > * {
  display: inline-block;
  vertical-align: middle;
}
.node-type-song .node-song .group-footer .field-name-service-links-displays-group .field-item > * {
  display: inline-block;
  vertical-align: middle;
}
.node-type-song .node-song .group-footer .field-name-service-links-displays-group i.fa-share-alt {
  font-size: 30px;
  color: #cc0001;
  margin-right: 8px;
}
.node-type-song .node-song .group-footer .field-name-service-links-displays-group .service-links {
  padding: 7px 0;
}
.node-type-song .node-song .group-footer .field-name-service-links-displays-group .service-links > * {
  display: inline-block;
  vertical-align: top;
}
.view-uitzendingen .klara-timeline-block .group-left a,
#block-views-calendar-broadcasts-block-2 ul > li.views-row .views-field-field-broadcast-pic a {
  position: relative;
  display: block;
}
.view-uitzendingen .klara-timeline-block .group-left a:after,
#block-views-calendar-broadcasts-block-2 ul > li.views-row .views-field-field-broadcast-pic a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: url(../images/loep.png) no-repeat center rgba(0, 0, 0, 0.75);
  opacity: 0;
}
.view-uitzendingen .klara-timeline-block .group-left a:hover:after,
#block-views-calendar-broadcasts-block-2 ul > li.views-row .views-field-field-broadcast-pic a:hover:after {
  opacity: 1;
}
.view-uitzendingen .klara-timeline-block .group-left a img,
#block-views-calendar-broadcasts-block-2 ul > li.views-row .views-field-field-broadcast-pic a img {
  display: block;
}
.view-uitzendingen .klara-timeline-block.upcoming .group-left img {
  filter: grayscale(50%);
}
@media only screen and (max-width: 992px) {
  .view-uitzendingen .klara-timeline-block .klara-timeline-content {
    width: 42%;
  }
  .view-uitzendingen .klara-timeline-block .klara-timeline-content .group-left,
  .view-uitzendingen .klara-timeline-block .klara-timeline-content .group-right {
    width: 100%;
  }
  .view-uitzendingen .klara-date {
    left: 138%;
  }
}
@media only screen and (max-width: 700px) {
  .view-uitzendingen .klara-timeline-block .klara-timeline-content {
    width: 75%;
  }
  .field-name-field-broadcast-pic .field-item {
    float: none !important;
    display: inline-block !important;
    margin-bottom: 20px;
    max-width: 100%;
  }
  .node-type-uitzending .node-uitzending .group-left,
  .node-type-uitzending .node-uitzending .group-right {
    width: 100%;
    margin-bottom: 20px;
  }
  .node-type-uitzending .node-uitzending #mapbox {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .group-left,
  .group-right {
    width: 100%;
  }
  .highlighted {
    padding: 80px 0 30px;
  }
  .highlighted .ds-2col .group-left,
  .highlighted .ds-2col .group-right {
    width: 100%;
  }
  .highlighted .ds-2col .group-left img {
    width: 30%;
    margin: 0 35%;
  }
  .highlighted .ds-2col .group-right {
    text-align: center;
    padding: 0 30px;
  }
  .group-left {
    margin-bottom: 30px;
  }
  #block-views-calendar-broadcasts-block-1 {
    width: 100%;
    margin-bottom: 30px;
  }
  #block-views-calendar-broadcasts-block-2 {
    width: 100%;
  }
  .node-type-uitzending .node-uitzending .group-header .group-broadcast-topview-bottom {
    float: none;
  }
}
@media (min-width: 700px) {
  .klara-timeline-content h2 {
    margin: 0;
    text-align: center;
  }
  .klara-timeline-content h2 a {
    font-size: 20px;
    font-family: arial;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #303030;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .klara-timeline-content h2 a:hover {
    color: #cc0001;
    text-decoration: none;
  }
  .klara-timeline-block:nth-child(even) .klara-timeline-content .klara-date {
    right: 138%;
  }
  .klara-timeline-block:nth-child(odd) .klara-timeline-content .klara-date {
    left: 109%;
  }
  .view-uitzendingen .klara-timeline-block .group-left {
    text-align: center;
    width: 100%;
  }
  .view-uitzendingen .klara-timeline-block .group-right {
    text-align: center;
    width: 100%;
  }
  .klara-timeline-content .klara-read-more {
    width: 100%;
  }
  .view .date-nav-wrapper .date-heading h3 {
    font-size: 16px;
  }
}
@media (min-width: 990px) {
  .klara-timeline-content {
    width: 44%;
  }
  .klara-timeline-block:nth-child(odd) .klara-timeline-content .klara-date {
    left: 90%;
  }
  .klara-timeline-block:nth-child(even) .klara-timeline-content .klara-date {
    right: 125%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 500px) {
  .view .date-nav-wrapper .date-heading h3 {
    font-size: 14px;
  }
  .webform-client-form .webform-component--naam-en-voornaam {
    margin-bottom: 30px;
    width: 100%;
  }
  .webform-client-form .webform-component--email-adres {
    width: 100%;
  }
  .view-uitzendingen .klara-timeline-block .group-right {
    text-align: center;
  }
  .klara-timeline-content .klara-read-more {
    width: 100%;
  }
  .klara-timeline-content .klara-date {
    float: none;
    padding: 14px 0 0;
    color: #cc0001;
  }
  .klara-timeline {
    padding: 100px 0;
  }
  .node-type-uitzending .node-uitzending .group-left,
  .node-type-uitzending .node-uitzending .group-right {
    width: 100%;
    margin-bottom: 20px;
  }
  .group-broadcast-topview.field-group-div.col-sm-4 {
    padding: 0;
    margin: 0;
  }
  .group-broadcast-topview-right.field-group-div.col-sm-8 {
    margin: 20px 0 0;
    padding: 0;
  }
  .field-name-field-broadcast-pic .field-item {
    float: none !important;
    display: inline-block !important;
  }
  .node-type-uitzending .node-uitzending .group-header .group-broadcast-topview-bottom {
    padding: 0;
    margin: 20px 0 0;
  }
  .node-type-uitzending .node-uitzending .field-name-service-links-displays-group {
    width: 100%;
    padding: 0;
    margin: 10px 0 0;
  }
  .node-type-uitzending .node-uitzending .group-header .group-broadcast-topview-bottom .field-name-field-broadcast-date {
    padding: 0;
    margin: 10px 0 0;
  }
  .node-type-uitzending .node-uitzending .field-name-field-broadcast-song > .field-items > .field-item > .popup > .entity-song {
    padding: 20px;
  }
  .node-type-uitzending .node-uitzending .field-name-field-broadcast-song > .field-items > .field-item > .popup > .entity-song .group-header {
    padding: 20px;
    box-shadow: none;
  }
  .node-type-uitzending .node-uitzending .field-name-field-broadcast-song > .field-items > .field-item > .popup > .entity-song .field-name-field-song-title {
    border: 0;
    font-size: 30px;
    line-height: 30px;
    margin: 50px 0 0;
  }
  .node-type-uitzending .node-uitzending #mapbox {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .node-type-song .node-song .group-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .node-type-song .node-song .group-right {
    width: 100%;
  }
  .node-type-song .node-song .group-footer .field {
    width: 100%;
  }
  .node-type-song #singlemap {
    height: 200px;
  }
}
